{
  "presets": ["@babel/preset-react"],
  "env": {
    "test": {
      "presets": ["@babel/preset-env", "@babel/preset-react"]
    },
    "library": {
      "presets": ["@babel/preset-react"],
      "plugins": ["babel-plugin-convert-jsx-extension-to-js"]
    }
  }
}
