path.rp-branch {
  transition: all 0.5s;
  fill: none;
  shape-rendering: crispEdges;
}

text.rp-label {
  font-family: Courier;
  font-size: 14px;
  transition: all .5s;
}

.rp-branch-tracer {
  stroke: #bbb;
  stroke-dasharray: 3,4;
  stroke-width: 1px;
}

